body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.navbar{
    height: 5rem;
    position: sticky;
    background-color: #f7f7f7;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.footer{
    border-top: 1px light black;
    height: 5rem;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;
      padding: 1rem 2rem;
  border-top: 1px solid #ddd;
}
.footer-left, .footer-right {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer-left p {
  margin: 0;
}

.f-info-links {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap
}

.f-info-links a {
  text-decoration: none;
  color: #333;
}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem !important;
}
.card-body{
    padding: 0px;
}
.card a{
    text-decoration: none;
    color: black;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* show.ejs */
.show-card{
  height: 30vh;
}
.show-card-img {
  object-fit: cover;
  height: 350px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
#map {
  height: 400px;
  width: 800px; 
  border-radius: 10px;
  margin-top: 20px;
}
.home{
  align-items: center;
}
.nav-i{
  border: none;
}
.inp-acc{
  width: 50% !important;
  margin-left: 330px;
  height: 60px;
  border-radius: 25px !important;
}
